<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.user.UserInfoMapper">
    <resultMap id="defaultMap" type="com.blog.model.UserInfo">
        <id property="id" column="id" />
        <result property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="mailAddress" column="mail_address"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="query" resultMap="defaultMap">
        SELECT id, uid, username, mail_address, create_time
        FROM user_info t
        ORDER t.create_time DESC
    </select>

    <insert id="insertNewUser">
        insert into blog_center.user_info (uid, username, password, mail_address,create_time) value(#{uid} , #{username}, #{password}, #{mailAddress}, now());
    </insert>

    <select id="queryUsernameRepeat" resultType="string">
        SELECT username
        FROM user_info
        WHERE username=#{username}
        limit 1
    </select>

    <select id="queryOneUser" resultMap="defaultMap">
        SELECT id, uid, username, password, mail_address, create_time
        FROM user_info t
        WHERE t.username=#{username}
        AND   t.password =#{password}
        limit 1
    </select>

    <select id="queryByUid" resultMap="defaultMap">
        SELECT id, uid, username, mail_address, create_time
        FROM user_info t
        WHERE t.uid = #{uid}
        limit 1
    </select>

</mapper>
