<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.user.UserCookieMapper">
    <resultMap id="defaultMap" type="com.blog.model.UserCookieInfo">
        <result property="uid" column="uid"/>
        <result property="cookie" column="cookie"/>
        <result property="availableTime" column="available_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getUid" resultType="Integer">
        SELECT uid FROM user_cookie t
        <![CDATA[
          WHERE now() <= available_time
          AND
          t.cookie = #{cookie}
        ]]>
    </select>

    <insert id="insert">
        INSERT INTO user_cookie
        (uid, cookie, available_time, create_time)
        VALUE
        (#{uid},#{cookie},DATE_ADD(now(), INTERVAL 7 DAY),now())
    </insert>

    <update id="updateCookie">
        UPDATE user_cookie
        SET available_time = (DATE_ADD(now(), INTERVAL 7 DAY)), cookie=#{cookie}
        WHERE uid = #{uid}
        AND now() > available_time;
    </update>

        <select id="queryCookie" resultType="string">
        SELECT cookie FROM user_cookie t
        <![CDATA[
          WHERE
          t.uid = #{uid}
        ]]>
    </select>

</mapper>
